@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
/* custom variant */
@custom-variant child (&>*);


@theme {
    --color-brown-100: #ECE0D1;
    --color-brown-300: #DBC1AC;
    --color-brown-600: #967259;
    --color-brown-1020: #634832;


    --shadow-normal: 0px 1px 10px rgba(0, 0, 0, 0.05);

    --radius-4xl: 2rem;

    --font-Dana: "Dana";
    --font-DanaMedium: "Dana Medium";
    --font-DanaDemiBold: "Dana DemiBold";
    --font-MorabbaLight: "Morabba Light";
    --font-MorabbaMedium: "Morabba Medium";
    --font-MorabbaBold: "Morabba Bold";

    --tracking-tightest: -0.075em;

    --breakpoint-xs: 480px;
    --breakpoint-sm: 640px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;

    /* --background-image-desktop: url('../public/images/headerBgDesktop.webp');
    --background-image-mobile: url('../public/images/headerBgMobile.webp'); */

}

@utility bg-desktop {
    background-image: url('/static/public/images/headerBgDesktop.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@utility bg-mobile {
    background-image: url('/static/public/images/headerBgMobile.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

@utility wrapper {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 2rem;

    @media (width >=64rem) {
        padding-inline: 0.625rem;
    }
}


@utility section-title{
    @apply text-2xl md:text-5xl font-MorabbaMedium text-zinc-700 dark:text-white
}
@utility section-subtitle{
    @apply inline-block text-lg md:text-3xl font-MorabbaLight mt-1.5 text-zinc-700 dark:text-white
}
@utility section-link{
    @apply flex items-center md:gap-x-1 text-base md:text-2xl h-10 rounded-md transition-colors pr-3 pl-1 tracking-tightest text-orange-300 md:hover:bg-orange-300/20
}

@utility flex-center{
    @apply flex items-center justify-center
}



@layer components {

    .submenu {
        @apply hidden flex-col gap-y-3 pr-7 mt-3 text-zinc-600 dark:text-white text-sm
    }

    .submenu--open {
        @apply flex
    }

    .submenu__item--active {
        @apply relative text-orange-300 pr-2.5
    }

    .submenu__item--active::after {
        position: absolute;
        display: block;
        width: 4px;
        height: 4px;
        content: "";
        border-radius: 100%;
        top: 0;
        bottom: 0;
        right: 0;
        background: #FDBA74;
        margin: auto;

    }

    .offer{
        @apply text-gray-400 relative
    }

    .offer::after{
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        background-color: red;
        inset: 0;
        margin: auto;


    }
    .active{
        @apply text-red-500
    }


    .banner1{
        background: linear-gradient(270deg , rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1) 100%), url("/static/public/images/categories/category-right.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .banner2{
        background: linear-gradient(270deg , rgba(0, 0, 0, 0.6) 33.85%, rgba(243, 244, 246, 0.1) 100%), url("/static/public/images/categories/category-left.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .footer{
        @apply inline-block w-2.5 h-1 bg-red-500 text-base md:rounded-xl ml-2 md:ml-3 ;
    }

    .ltr-text{
        direction: ltr;
        text-align: left;
    }

    .dashboard{
        @apply flex gap-x-2 p-5 hover:bg-teal-700 transition-colors rounded-2xl ;
    }

    @media screen and (min-width:1280px) {
        .dark .products {
            background: url("/static/public/images/body-bg.png");
        }

        .products {
            background: linear-gradient(rgba(243, 244, 246, 0.65), rgba(243, 244, 246, 0.65)), url("/static/public/images/body-bg.png");
            /* background-size: 100%; */
            background-size: cover;
            background-repeat: no-repeat;
        }

    }
}

/* @layer utilities{
    .bg-home-mobile{
        background-image: url('../images/headerBGMobile.webp');
    }
} */

@layer base {
    @font-face {
        font-family: "Dana";
        src: url("/static/public/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
    }

    @font-face {
        font-family: "Dana Medium";
        src: url("/static/public/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
    }

    @font-face {
        font-family: "Dana DemiBold";
        src: url("/static/public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
    }

    @font-face {
        font-family: "Morabba Light";
        src: url("/static/public/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
    }

    @font-face {
        font-family: "Morabba Medium";
        src: url("/static/public/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
    }

    @font-face {
        font-family: "Morabba Bold";
        src: url("/static/public/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
    }

    /* body{
        background-image: url("../public/images/headerBgDesktop.png");
        background-repeat: no-repeat;
    } */
}