{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="icon" href="{% static 'public/images/fav-icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'src/swiper-bundle.min.css' %}">
    <script type="text/javascript">
        document.documentElement.classList.toggle(
            "dark",
            localStorage.theme === "dark" ||
            (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
        );
    </script>
</head>


<div class="font-Dana bg-gray-100  dark:bg-zinc-800">

    {% block header %}
        {% include "includes/static_header.html" %}
    {% endblock %}


    {% block content %}
        <!-- main -->
        <main
                class="pb-12 font-Dana bg-zinc-800 dark:bg-zinc-800">
            <!-- header -->

            <!-- body -->

            <!-- Products  -->

            <section class="products pt-8 md:pt-10 lg:pt-48">
                <div class="wrapper">
                    <!-- header products -->
                    <div class="flex items-end justify-between mt-5 md:mb-12">
                        <div>
                            <h3 class="section-title">جدیدترین محصولات</h3>
                            <span class="section-subtitle">فراوری شده از قهوه</span>
                        </div>

                        <select name="لبی"
                                id="category-id-filter">
                            <option value="" selected>انتخاب دسته بندی</option>
                            {% for category in categories %}
                                <option value="{{ category.id }}">{{ category.title }}</option>
                            {% endfor %}
                        </select>

                        <select id="order-by-filter">
                            <option value="" selected>مرتب سازی</option>
                            <option value="-created_date">جدیدترین</option>
                            <option value="created_date">قدیمی ترین</option>
                            <option value="-price">بیشترین قیمت</option>
                            <option value="price">کمترین قیمت</option>
                        </select>

                        <form action="" class="flex items-center gap-x-5">
                            <input type="text" name="q" placeholder="جستجو کنید" id="search-query-filter" class="w-50 h-8 text-base border border-orange-300 rounded-full px-3">
                            <button class="text-orange-300">
                                <svg class="w-6 h-6">
                                    <use href="#magnifying-glass"></use>
                                </svg>
                            </button>
                        </form>


                    </div>
                    <!-- body products -->
                    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3.5 md:gap-5">
                        <!-- product -->

                        {% for product in products %}

                            <div class="p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl ">
                                <!-- header -->
                                <a href="{% url 'shop:product-detail' slug=product.slug %}">
                                    <div class="relative mb-2 md:mb-5">
                                        <img src="{{ product.image.url }}" class="w-32 mx-auto md:w-auto"
                                             alt="product 1">
                                    </div>
                                </a>
                                <!-- body -->
                                <h4 class="font-DanaMedium text-sm md:text-xl text-zinc-700 dark:text-white line-clamp-2"> {{ product.description }}</h4>
                                <div class="flex items-center gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5">
                                    <div class="text-teal-600 dark:text-emerald-500">
                                        <span class="font-DanaDemiBold text-base md:text-xl">{{ product.price }}</span>
                                        <span class="text-xs md:text-sm tracking-tightest">تومان</span>
                                    </div>
                                </div>
                                <!-- footer -->
                                {#                                <div class="flex items-center justify-between mt-2.5 md:mt-4">#}
                                {#                                    <div class="flex items-center gap-x-2.5 md:gap-x-3 ">#}
                                {#                                <span#}
                                {#                                        class="flex items-center justify-center w-[26px] h-[26px] md:w-9 md:h-9 text-gray-400 hover:text-white bg-gray-100 dark:bg-zinc-800 hover:bg-teal-600 dark:hover:bg-emerald-500 transition-colors rounded-full">#}
                                {#                                    <button id="cart-btn-{{ product.id }}"#}
                                {#                                            type="button"#}
                                {#                                            onclick="addToCart({{ product.id }})"#}
                                {#                                            class="flex items-center justify-center w-[26px] h-[26px] md:w-9 md:h-9 text-gray-400 bg-gray-100 dark:bg-zinc-800 hover:bg-emerald-500 transition-colors rounded-full">#}
                                {##}
                                {#                                        <svg class="w-4 h-4 md:w-[22px] md:h-[22px]">#}
                                {#                                            <use href="#shopping-cart"></use>#}
                                {#                                        </svg>#}
                                {#                                    </button>#}
                                {#                                </span>#}
                                {#                                        <span class="text-gray-400 hover:text-teal-600 dark:hover:text-emerald-500">#}
                                {#                                    <button type="button" class="{% if product.id in favorite_ids %}active{% endif %}"#}
                                {#                                            id="favorite-{{ product.id }}"#}
                                {#                                            onclick="addToFavorite({{ product.id }})"#}
                                {#                                    >#}
                                {#                                        <svg class="w-4 h-4 md:w-6 md:h-6 ">#}
                                {#                                            <use href="#heart"></use>#}
                                {#                                        </svg>#}
                                {#                                    </button>#}
                                {##}
                                {#                                </span>#}
                                {#                                    </div>#}
                                {#                                    <div class="flex text-yellow-400">#}
                                {##}
                                {#                                        <svg class="w-4 h-4 md:w-6 md:h-6 text-gray-400">#}
                                {#                                            <use href="#star"></use>#}
                                {#                                        </svg>#}
                                {##}
                                {#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
                                {#                                            <use href="#star"></use>#}
                                {#                                        </svg>#}
                                {##}
                                {#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
                                {#                                            <use href="#star"></use>#}
                                {#                                        </svg>#}
                                {##}
                                {#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
                                {#                                            <use href="#star"></use>#}
                                {#                                        </svg>#}
                                {##}
                                {#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
                                {#                                            <use href="#star"></use>#}
                                {#                                        </svg>#}
                                {##}
                                {##}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>

                        {% endfor %}


                    </div>
                </div>
            </section>
        </main>
    {% endblock %}

    {% block js %}

        <script src="{% static 'src/js/cart.js' %}"></script>

        <script>


            $(document).ready(function (){
                let current_url_params = new URLSearchParams(window.location.search)
                $("#category-id-filter").val(current_url_params.get("category_id") || "")
                $("#order-by-filter").val(current_url_params.get("order_by") || "")
                $("#search-query-filter").val(current_url_params.get("q") || "")
            })

            $("#category-id-filter").change(function () {
                let current_url_params = new URLSearchParams(window.location.search)
                let selectedOption = $(this).val();
                current_url_params.set("category_id", selectedOption)
                let new_url = window.location.pathname + "?" + current_url_params.toString()
                window.location.href = new_url
            })

            $("#order-by-filter").change(function () {
                let current_url_params = new URLSearchParams(window.location.search)
                let selectedOption = $(this).val();
                current_url_params.set("order_by", selectedOption)
                let new_url = window.location.pathname + "?" + current_url_params.toString()
                window.location.href = new_url
            })

        </script>

    {% endblock %}

</div>

