{% extends 'base.html' %}
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee Shop</title>
    <link rel="icon" href="{% static 'public/images/fav-icon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'src/swiper-bundle.min.css' %}">
    <script type="text/javascript">
        document.documentElement.classList.toggle(
            "dark",
            localStorage.theme === "dark" ||
            (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),
        );
    </script>
</head>


<div class="font-Dana bg-gray-100 dark:bg-zinc-800 mb-12">
    {% block header %}
        <header id="cart-data"
            data-add-to-favorite-url="{% url 'shop:add_favorite' %}"
            data-add-to-cart-url="{% url 'cart:session-add-product' %}"
            data-add-to-order-url="{% url 'orders:order_create' %}"
            data-login-url="{% url 'login' %}"
            data-csrf-token="{{ csrf_token }}"
                class="fixed top-9 right-0 left-0 z-20 hidden md:flex items-center w-[98%] lg:w-[90%] h-24 px-5 lg:px-10 py-5 mx-auto bg-black/50 rounded-3xl backdrop-blur-[6px]">
            <!-- menu & icon -->
            <div class="flex justify-between w-full">
                <nav class="flex items-center gap-x-5 lg:gap-x-9 h-14">
                    <!-- icon -->
                    <div class="shrink-0">
                        <img src="{% static 'public/images/fav-icon.png' %}" alt="coffee logo">
                    </div>
                    <!-- menu -->
                    <ul class="flex gap-x-4 lg:gap-x-9 h-full text-xl text-gray-300 child:leading-[56px] ">
                        <li class="font-DanaMedium text-orange-200">
                            <a href="">صفحه اصلی</a>
                        </li>
                        <!-- Has menu -->
                        <li class="relative group">
                            <a href="" class="group-hover:text-orange-300">فروشگاه</a>
                            <!-- Sub Menu -->
                            <div class="absolute top-full w-54 p-6 space-y-5 tracking-widest opacity-0 invisible group-hover:opacity-100 group-hover:visible text-zinc-700 dark:text-white bg-white dark:bg-zinc-700 shadow-normal text-base font-DanaMedium border-t-[3px] transition-all border-t-orange-300 rounded-2xl  child:inline-block child:transition-colors
                        child:hover:text-orange-300">
                                <a href="">قهوه ویژه</a>
                                <a href="">ویژه در سطح جهانی</a>
                                <a href="">قهوه درجه یک</a>
                                <a href="">ترکیبات جهانی</a>
                                <a href="">کپسول قهوه</a>
                                <a href="">قهوه زینو برزیلی</a>
                            </div>
                        </li>
                        <li>
                            <a href="">دیکشنری</a>
                        </li>
                        <li>
                            <a href="">بلاگ</a>
                        </li>
                        <li>
                            <a href="">درباره ما</a>
                        </li>
                        <li>
                            <a href="">تماس با ما</a>
                        </li>
                    </ul>
                </nav>
                <!-- cart & Theme & login -->
                <div class="flex gap-x-3 lg:gap-x-5 xl:gap-x-10 text-orange-200 text-xl">
                    <!-- cart & Theme -->
                    <div class="flex gap-x-3 lg:gap-x-5 items-center">
                        <!-- cart -->
                        <div class="relative group">
                            <!-- cart icon -->
                            <div class="py-3 cursor-pointer">
                                <svg class="h-8 w-8">
                                    <use href="#shopping-cart"></use>
                                </svg>
                                <!-- cart box  -->


                                <div
                                        class="absolute top-full left-0 opacity-0 invisible group-hover:opacity-100 group-hover:visible w-[400px] p-5 bg-white dark:bg-zinc-700 z-10 border-t-[3px] border-t-orange-300 shadow-normal rounded-2xl transition-all">
                                    <!-- cart header -->
                                    <div
                                            class="flex items-center justify-between text-xs tracking-tighter font-DanaMedium ">
                                        <span class="text-gray-300 ">1 مورد</span>
                                        <a href="#" class="flex items-center gap-x-1.5 text-orange-300">
                                            مشاهده سبد خرید
                                            <svg class="w-4 h-4">
                                                <use href="#chevron-left"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <!-- cart body -->
                                    <div
                                            class="pb-1 border-b border-b-gray-300 dark:border-white/10 divide-y divide-gray-300 dark:divide-white/10 child:py-5 max-h-[350px] overflow-y-auto">

                                    {% for item in cart_items %}

                                        <div class="flex gap-x-2.5">
                                            <img src="{{ item.product_obj.image.url }}" class="w-30 h-30"
                                                 alt="product 1">
                                            <div class="flex flex-col justify-between">
                                                <h4 class="font-DanaMedium text-zinc-700 dark:text-white text-base">قهوه
                                                    {{ item.product_obj.title }}</h4>
                                                <div>
                                                <span
                                                        class="text-teal-600 dark:text-emerald-500 text-xs tracking-tight">14500
                                                    تومان تخفیف</span>
                                                    <div class="text-zinc-700 dark:text-white font-DanaDemiBold">
                                                        {{ item.product_obj.price }}
                                                        <span class="font-Dana text-sm">تومان</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    {% endfor %}

                                    </div>
                                    <!-- cart footer -->
                                    <div class="flex items-center justify-between mt-3">
                                        <div class="">
                                        <span class="font-DanaMedium text-gray-300 text-xs tracking-tighter">مبلغ قابل
                                            پرداخت</span>
                                            <div class="text-zinc-700 dark:text-white font-DanaDemiBold">
                                                {{ total_payment_price }}
                                                <span class="font-Dana text-sm">تومان</span>
                                            </div>
                                        </div>
                                        <button onclick="addToOrderList()" class="flex items-center justify-center w-[144px] h-14 text-white bg-teal-600 dark:bg-emerald-500 hover:bg-teal-700 dark:hover:bg-emerald-600 transition-colors rounded-xl">ثبت سفارش</button>
                                    </div>
                                </div>


                            </div>
                        </div>
                        <!-- Theme -->
                        <div class="cursor-pointer" id="toggle-theme">
                            <svg class="inline-block dark:hidden h-8 w-8">
                                <use href="#moon"></use>
                            </svg>
                            <svg class="hidden dark:inline-block h-8 w-8">
                                <use href="#sun"></use>
                            </svg>
                        </div>
                    </div>
                    <!-- divide border -->
                    <span class="block w-px h-14 bg-white/20"></span>
                    <!-- login -->
                    <a href="{% url 'profile' %}" class="flex items-center gap-x-2.5">
                        <svg class="h-8 w-8 rotate-180">
                            <use href="#arrow-left-end-on-rectangle"></use>
                        </svg>
                        <span class="hidden xl:inline-block">ورود | ثبت نام</span>
                    </a>
                </div>
            </div>
        </header>
        <!-- mobile -->
        <div class="flex items-center justify-between md:hidden  px-4 h-16 dark:bg-zinc-700 bg-white">

            <!-- nav icon -->
            <div class="nav-icon">
                <svg class="w-6 h-6 text-zinc-700 dark:text-white">
                    <use href="#bars-3"></use>
                </svg>
            </div>

            <!-- nav menu -->
            <div
                    class="nav fixed w-64 top-0 -right-64 bottom-0 px-4 pt-3 overflow-y-auto bg-white dark:bg-zinc-700 z-20 transition-all">

                <!-- nav mobile header -->
                <div class="flex items-center justify-between pb-5 mb-6 border-b border-b-gray-100 dark:border-b-white/10">
                    <div class="flex gap-x-3.5">
                        <svg class="w-[40px] h-10 text-orange-300">
                            <use href="#logo"></use>
                        </svg>
                        <svg class="w-[100px] h-10 text-orange-300">
                            <use href="#logo-type"></use>
                        </svg>
                    </div>
                    <div>
                        <svg class="close-btn w-5 h-5 text-zinc-600 dark:text-white">
                            <use href="#x-mark"></use>
                        </svg>
                    </div>
                </div>

                <!-- nav mobile body -->
                <div>
                    <ul class="child:pr-2.5 space-y-6 dark:text-white text-zinc-600">

                        <li class="flex items-center mb-4 bg-orange-200/20 text-orange-300 h-10 rounded-md">
                            <a href="" class="flex items-center gap-x-2">
                                <svg class="w-5 h-5">
                                    <use href="#home"></use>
                                </svg>
                                صفحه اصلی
                            </a>
                        </li>

                        <li>
                            <div class="flex items-center justify-between">
                                <a href="" class="flex items-center gap-x-2">
                                    <svg class="w-5 h-5">
                                        <use href="#shopping-cart"></use>
                                    </svg>
                                    فروشگاه
                                </a>
                                <span class="submenu-open-btn">
                                <svg class="w-5 h-5">
                                    <use href="#chevron-down"></use>
                                </svg>
                            </span>
                            </div>
                            <div class="submenu">
                                <a href="#">قهوه ویژه</a>
                                <a href="#" class="submenu__item--active">ویژه در سطح جهانی</a>
                                <a href="#">قهوه درجه یک</a>
                                <a href="#">ترکیبات تجاری</a>
                                <a href="#">کپسول قهوه</a>
                                <a href="#">قهوه زینو برزیلی</a>
                            </div>
                        </li>

                        <li>
                            <a href="" class="flex items-center gap-x-2">
                                <svg class="w-5 h-5">
                                    <use href="#chat-bubble"></use>
                                </svg>
                                دیکشنری
                            </a>
                        </li>

                        <li>
                            <a href="" class="flex items-center gap-x-2">
                                <svg class="w-5 h-5">
                                    <use href="#briefcase"></use>
                                </svg>
                                درباره ما
                            </a>
                        </li>

                        <li>
                            <a href="" class="flex items-center gap-x-2">
                                <svg class="w-5 h-5">
                                    <use href="#document-text"></use>
                                </svg>
                                بلاگ
                            </a>
                        </li>

                        <li>
                            <a href="" class="flex items-center gap-x-2">
                                <svg class="w-5 h-5">
                                    <use href="#phone-arrow-up-right"></use>
                                </svg>
                                تماس با ما
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- nav mobile footer -->
                <div class="space-y-6 text-orange-300 mt-8 py-8 px-2.5 border-t border-t-gray-100 dark:border-t-white/10">

                    <a href="" class="flex items-center gap-x-2">
                        <svg class="h-5 w-5 rotate-180">
                            <use href="#arrow-left-end-on-rectangle"></use>
                        </svg>
                        <span class="inline-block">ورود | ثبت نام</span>
                    </a>

                    <div class="flex items-center dark:hidden ">
                        <svg class="h-5 w-5">
                            <use href="#moon"></use>
                        </svg>
                        <span>تم روشن</span>
                    </div>
                    <div class="hidden items-center gap-x-2 dark:flex">
                        <svg class=" h-5 w-5">
                            <use href="#sun"></use>
                        </svg>
                        <span>تم تیره</span>
                    </div>

                    <a href="#" class="flex items-center gap-x-2">
                        <svg class="w-5 h-5">
                            <use href="#shopping-cart"></use>
                        </svg>
                        سبد خرید
                    </a>

                </div>

            </div>

            <!-- logo-type -->
            <div>
                <svg class="w-[100px] h-10 text-orange-300">
                    <use href="#logo-type"></use>
                </svg>
            </div>

            <!-- cart icon -->
            <div class="cart-icon">
                <svg class="w-6 h-6 text-zinc-700 dark:text-white">
                    <use href="#shopping-cart"></use>
                </svg>
            </div>

            <!-- mobile cart -->
            <div
                    class="cart fixed w-64 top-0 bottom-0 -left-64 flex flex-col pt-5 px-4 bg-white dark:bg-zinc-700 z-20">
                <!-- mobile cart header -->
                <div
                        class="flex items-center justify-between text-zinc-500 dark:text-white pb-5 mb-5 border-b border-b-gray-300 dark:border-b-white/10">
                    <div class="cart-close-btn">
                        <svg class="w-5 h-5 text-zinc-600 dark:text-white">
                            <use href="#x-mark"></use>
                        </svg>
                    </div>
                    <span class="text-zinc-700 dark:text-white">
                    سبد خرید
                </span>

                </div>
                <!-- mobile cart body -->
                <div
                        class="flex items-center justify-between pb-5 mb-5 border-b border-b-gray-100 dark:border-b-white/10 gap-x-1">

                    <img src="{% static 'public/images/products/p1.png' %}" alt="" class="w-[90px] h-[90px]">

                    <div class="flex flex-col justify-between gap-y-1.5">
                        <h4 class="text-sm text-zinc-700 dark:text-white line-clamp-2 gap-y-1.5">
                            قهوه
                            اسپرسو بن مانو پریسکا 250 گرمی
                        </h4>
                        <div>
                        <span class="text-teal-600 dark:text-emerald-500 text-xs tracking-tight">14500
                            تومان تخفیف</span>
                            <div class="text-zinc-700 dark:text-white font-DanaDemiBold">
                                175000
                                <span class="font-Dana text-xs">تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div
                        class="flex items-center justify-between pb-5 mb-5 border-b border-b-gray-100 dark:border-b-white/10 gap-x-1">

                    <img src="{% static 'public/images/products/p2.png' %}" alt="" class="w-[90px] h-[90px]">

                    <div class="flex flex-col justify-between gap-y-1.5">
                        <h4 class="text-sm text-zinc-700 dark:text-white line-clamp-2">
                            قهوه
                            اسپرسو بن مانو پریسکا 250 گرمی
                        </h4>
                        <div>
                        <span class="text-teal-600 dark:text-emerald-500 text-xs tracking-tight">14500
                            تومان تخفیف</span>
                            <div class="text-zinc-700 dark:text-white font-DanaDemiBold">
                                175000
                                <span class="font-Dana text-xs">تومان</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- mobile cart footer -->
                <div class="flex items-end justify-between mt-auto gap-x-4 mb-8">
                    <!-- button -->
                    <div>
                        <a href="#"
                           class="flex items-center justify-center w-28 h-11 text-white bg-teal-600 dark:bg-emerald-500 rounded-xl">ثبت
                            سفارش</a>
                    </div>
                    <!-- description -->
                    <div class="flex flex-col items-center">
                        <span class="text-gray-300 text-xs ">مبلغ قابل پرداخت</span>
                        <div class="text-zinc-700 dark:text-white font-DanaDemiBold">
                            350,000
                            <span class="font-Dana text-xs">تومان</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endblock %}


    {% block content %}
        <!-- main -->
        <main
            class="mb-12 font-Dana bg-zinc-800 dark:bg-zinc-800">
            <!-- header -->

            <!-- body -->

            <!-- Products  -->

            <section class="products pt-8 md:pt-10 lg:pt-48">
                <div class="wrapper">
                    <!-- header products -->
                    <div class="flex items-end justify-between mt-5 md:mb-12">
                        <div>
                            <h3 class="section-title">جدیدترین محصولات</h3>
                            <span class="section-subtitle">فراوری شده از قهوه</span>
                        </div>
                        <a href="#" class="section-link">
                            <span class="hidden md:inline-block">مشاهده همه محصولات</span>
                            <span class="inline-block md:hidden">مشاهده همه</span>
                            <svg class="w-5 h-5">
                                <use href="#chevron-left-mini"></use>
                            </svg>
                        </a>
                    </div>
                    <!-- body products -->
                    <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-3.5 md:gap-5">
                        <!-- product -->

                        {% for product in products %}

                            <div class="p-5 bg-white dark:bg-zinc-700 shadow-normal rounded-2xl ">
                                <!-- header -->
                                <a href="{% url 'shop:product-detail' slug=product.slug %}">
                                    <div class="relative mb-2 md:mb-5">
                                        <img src="{{ product.image.url }}" class="w-32 mx-auto md:w-auto"
                                             alt="product 1">
                                    </div>
                                </a>
                                <!-- body -->
                                <h4 class="font-DanaMedium text-sm md:text-xl text-zinc-700 dark:text-white line-clamp-2"> {{ product.description }}</h4>
                                <div class="flex items-center gap-x-2 md:gap-x-2.5 mt-1.5 md:mt-2.5">
                                    <div class="text-teal-600 dark:text-emerald-500">
                                        <span class="font-DanaDemiBold text-base md:text-xl">{{ product.price }}</span>
                                        <span class="text-xs md:text-sm tracking-tightest">تومان</span>
                                    </div>
                                </div>
                                <!-- footer -->
{#                                <div class="flex items-center justify-between mt-2.5 md:mt-4">#}
{#                                    <div class="flex items-center gap-x-2.5 md:gap-x-3 ">#}
{#                                <span#}
{#                                        class="flex items-center justify-center w-[26px] h-[26px] md:w-9 md:h-9 text-gray-400 hover:text-white bg-gray-100 dark:bg-zinc-800 hover:bg-teal-600 dark:hover:bg-emerald-500 transition-colors rounded-full">#}
{#                                    <button id="cart-btn-{{ product.id }}"#}
{#                                            type="button"#}
{#                                            onclick="addToCart({{ product.id }})"#}
{#                                            class="flex items-center justify-center w-[26px] h-[26px] md:w-9 md:h-9 text-gray-400 bg-gray-100 dark:bg-zinc-800 hover:bg-emerald-500 transition-colors rounded-full">#}
{##}
{#                                        <svg class="w-4 h-4 md:w-[22px] md:h-[22px]">#}
{#                                            <use href="#shopping-cart"></use>#}
{#                                        </svg>#}
{#                                    </button>#}
{#                                </span>#}
{#                                        <span class="text-gray-400 hover:text-teal-600 dark:hover:text-emerald-500">#}
{#                                    <button type="button" class="{% if product.id in favorite_ids %}active{% endif %}"#}
{#                                            id="favorite-{{ product.id }}"#}
{#                                            onclick="addToFavorite({{ product.id }})"#}
{#                                    >#}
{#                                        <svg class="w-4 h-4 md:w-6 md:h-6 ">#}
{#                                            <use href="#heart"></use>#}
{#                                        </svg>#}
{#                                    </button>#}
{##}
{#                                </span>#}
{#                                    </div>#}
{#                                    <div class="flex text-yellow-400">#}
{##}
{#                                        <svg class="w-4 h-4 md:w-6 md:h-6 text-gray-400">#}
{#                                            <use href="#star"></use>#}
{#                                        </svg>#}
{##}
{#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
{#                                            <use href="#star"></use>#}
{#                                        </svg>#}
{##}
{#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
{#                                            <use href="#star"></use>#}
{#                                        </svg>#}
{##}
{#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
{#                                            <use href="#star"></use>#}
{#                                        </svg>#}
{##}
{#                                        <svg class="w-4 h-4 md:w-6 md:h-6">#}
{#                                            <use href="#star"></use>#}
{#                                        </svg>#}
{##}
{##}
{#                                    </div>#}
{#                                </div>#}
                            </div>

                        {% endfor %}


                    </div>
                </div>
            </section>
        </main>
    {% endblock %}

    {% block js %}

        <script src="{% static 'src/js/cart.js' %}"></script>

    {% endblock %}

</div>

