{% extends 'base.html' %}


{% block content %}
    <main class="max-w-6xl mx-auto px-4 py-10 bg-zinc-900 ">

        <!-- Title -->
        <div class="mb-10">

            <h1 class="text-4xl font-bold text-white">
                سفارش های من
            </h1>

            <div class="flex items-center gap-2 mt-3 text-sm">
                <span class="text-zinc-500">خانه</span>
                <span class="text-zinc-600">/</span>
                <span class="text-emerald-500">
                    سفارش های من
                </span>
            </div>

        </div>

        <!-- Tabs -->
        <div class="flex gap-8 border-b border-zinc-800 mb-8 overflow-x-auto">

            <a class="pb-4 text-emerald-500 border-b-2 border-emerald-500 whitespace-nowrap">
                همه
            </a>

            <a class="pb-4 text-zinc-400 hover:text-white whitespace-nowrap">
                در انتظار پرداخت
            </a>

            <a class="pb-4 text-zinc-400 hover:text-white whitespace-nowrap">
                در حال ارسال
            </a>

            <a class="pb-4 text-zinc-400 hover:text-white whitespace-nowrap">
                تکمیل شده
            </a>

            <a class="pb-4 text-zinc-400 hover:text-white whitespace-nowrap">
                لغو شده
            </a>

        </div>

        <!-- Orders -->
        <div class="space-y-5">

            {% for order_item in order_items %}

                <div class="bg-zinc-900 border border-zinc-800 rounded-3xl p-5 flex items-center justify-between">

                    <div class="flex items-center gap-5">

                        <div class="w-2 self-stretch bg-amber-500 rounded-full">
                        </div>

                        <img src="{{ order_item.product.image.url }}" alt="" class="w-24 h-24 object-contain">

                        <div>

                            <h3 class="text-white text-xl font-bold">
                                {{ order_item.product.title }}
                            </h3>

                            <p class="text-zinc-500 mt-2">
                                {{ order_item.order.tracking_code }}
                            </p>

                            <p class="text-zinc-400 mt-2">
                                ۵ روز دیگر تحویل
                            </p>

                        </div>

                    </div>

                    <div class="text-center">

                        <p class="text-zinc-500 mb-2">
                            مبلغ سفارش
                        </p>

                        <p class="text-amber-400 text-2xl font-bold">
                            {{ order_item.total_price }}
                        </p>

                    </div>

                    <button class="w-32 h-12 rounded-xl bg-zinc-800 hover:bg-zinc-700 text-white transition">

                        جزئیات

                    </button>

                </div>

            {% endfor %}
        </div>

    </main>
{% endblock %}

