{% load static tailwind_tags %}


<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% tailwind_css %}

</head>

<body class="bg-zinc-900 text-white font-Dana">
    <svg class="hidden">
        <symbol id="document-chart-bar" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
            stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25M9 16.5v.75m3-3v3M15 12v5.25m-4.5-15H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
        </symbol>
        <symbol id="shopping-bag" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M15.75 10.5V6a3.75 3.75 0 1 0-7.5 0v4.5m11.356-1.993 1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 0 1-1.12-1.243l1.264-12A1.125 1.125 0 0 1 5.513 7.5h12.974c.576 0 1.059.435 1.119 1.007ZM8.625 10.5a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Zm7.5 0a.375.375 0 1 1-.75 0 .375.375 0 0 1 .75 0Z" />
        </symbol>
        <symbol id="truck" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M8.25 18.75a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h6m-9 0H3.375a1.125 1.125 0 0 1-1.125-1.125V14.25m17.25 4.5a1.5 1.5 0 0 1-3 0m3 0a1.5 1.5 0 0 0-3 0m3 0h1.125c.621 0 1.129-.504 1.09-1.124a17.902 17.902 0 0 0-3.213-9.193 2.056 2.056 0 0 0-1.58-.86H14.25M16.5 18.75h-2.25m0-11.177v-.958c0-.568-.422-1.048-.987-1.106a48.554 48.554 0 0 0-10.026 0 1.106 1.106 0 0 0-.987 1.106v7.635m12-6.677v6.677m0 4.5v-4.5m0 0h-12" />
        </symbol>
        <symbol id="clock" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
        </symbol>
        <symbol id="paper-clip" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
        </symbol>
        <symbol id="credit-card" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M2.25 8.25h19.5M2.25 9h19.5m-16.5 5.25h6m-6 2.25h3m-3.75 3h15a2.25 2.25 0 0 0 2.25-2.25V6.75A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25v10.5A2.25 2.25 0 0 0 4.5 19.5Z" />
        </symbol>
        <symbol id="lock-closed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M16.5 10.5V6.75a4.5 4.5 0 1 0-9 0v3.75m-.75 11.25h10.5a2.25 2.25 0 0 0 2.25-2.25v-6.75a2.25 2.25 0 0 0-2.25-2.25H6.75a2.25 2.25 0 0 0-2.25 2.25v6.75a2.25 2.25 0 0 0 2.25 2.25Z" />
        </symbol>
        <symbol id="shield-check" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1 3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
        </symbol>






    </svg>
    <section class="wrapper max-w-[1480px] mx-auto px-2 mt-8">
        <!-- top -->
        <div class="flex flex-col items-center gap-y-3">
            <h1 class="text-2xl font-MorabbaBold text-amber-600/80">پرداخت سفارش</h1>
            <div class="flex-center gap-x-3.5">
                <h3 class="text-gray-400/80">سبد خرید</h3>
                <span>></span>
                <h3 class="text-gray-400/80">اطلاعات ارسال</h3>
                <span>></span>
                <h3 class="text-gray-400/80">روش پرداخت</h3>
            </div>
        </div>
        <!-- main -->
        <div class="flex gap-x-5 mt-8">
            <!-- right -->
            <div class="w-[40%] p-4 bg-blue-950/30">
                <!-- right-top -->
                <div class="flex items-center gap-x-4 mb-5 text-brown-600 font-MorabbaBold">
                    <svg class="w-7 h-7">
                        <use href="#document-chart-bar"></use>
                    </svg>
                    <h3 class="text-xl">خلاصه سفارش</h3>
                </div>

                <!-- right-body -->
                <div class="flex items-center justify-between border-t border-t-white/20 mb-5">
                    <!-- right -->
                    <div class="flex items-center mt-5 gap-x-5">
                        <div class="bg-white rounded-xl">
                            <img src="./images/products/p1.png" class="w-20 h-20" alt="">
                        </div>
                        <div class="flex flex-col items-center space-y-1.5">
                            <h3 class="">دانه قهوه عربیکا</h3>
                            <span class="text-gray-500">100% عربیکا</span>
                            <span class="font-DanaMedium text-lg">285,000</span>
                        </div>
                    </div>
                    <!-- left -->
                    <div>
                        <div class="flex-center gap-x-1 border border-white/20 px-4 py-2">
                            <span class="">2</span>
                        </div>
                    </div>

                </div>
                <!-- right-down -->
                <div class="border-t border-t-white/20 py-5 space-y-5">
                    <div class="flex items-center justify-between">
                        <h3>جمع کل کالاها</h3>
                        <div class="flex items-center gap-x-2">
                            <span>1,390,000</span>
                            <span>تومان</span>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <h3>تخفیف</h3>
                        <div class="flex items-center gap-x-2">
                            <span>1,390,000</span>
                            <span>تومان</span>
                        </div>
                    </div>
                    <div class="flex items-center justify-between">
                        <h3>هزینه ارسال</h3>
                        <div class="flex items-center gap-x-2">
                            <span>1,390,000</span>
                            <span>تومان</span>
                        </div>
                    </div>
                    <div class="flex items-center justify-between text-green-500 text-xl pt-5">
                        <h3>مبلغ نهایی</h3>
                        <div class="flex items-center gap-x-2">
                            <span>1,390,000</span>
                            <span>تومان</span>
                        </div>
                    </div>
                </div>

            </div>
            <!-- left -->
            <div class="w-[60%] bg-blue-950/30 px-5 space-y-10">
                <!-- left-header -->
                <div class="flex items-center gap-x-3 text-brown-600 my-5">
                    <svg class="w-7 h-7">
                        <use href="#document-chart-bar"></use>
                    </svg>
                    <h1 class="text-xl font-MorabbaBold ">خلاصه سفارش</h1>
                </div>
                <!-- information -->
                <div class="flex items-center justify-between">
                    <div class="flex-center gap-x-4">
                        <svg class="w-8 h-8 text-brown-600">
                            <use href="#shopping-bag"></use>
                        </svg>
                        <div class="flex flex-col items-center gap-y-2.5">
                            <span>تعداد کالاها</span>
                            <div class="flex-center">
                                <span>4</span>
                                <span>محصول</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-center gap-x-4">
                        <svg class="w-8 h-8 text-brown-600">
                            <use href="#truck"></use>
                        </svg>
                        <div class="flex flex-col items-center gap-y-2.5">
                            <span>هزینه ارسال</span>
                            <div class="flex-center">
                                <span>45,000</span>
                                <span>تومان</span>
                            </div>
                        </div>
                    </div>
                    <div class="flex-center gap-x-4">
                        <svg class="w-8 h-8 text-brown-600">
                            <use href="#clock"></use>
                        </svg>
                        <div class="flex flex-col items-center gap-y-2.5">
                            <span>زمان تحویل</span>
                            <div>
                                <span>2 تا 3 روز کاری</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- discount-code -->
                <div>
                    <div class="flex items-center gap-x-2.5 text-brown-600 my-5">
                        <svg class="w-6 h-6">
                            <use href="#paper-clip"></use>
                        </svg>
                        <h1 class="text-xl font-MorabbaBold">کد تخفیف</h1>
                    </div>
                    <div>
                        <form action="" method="post" class="flex items-center">
                            <div class="w-full border border-white/20 rounded-lg p-2.5 ml-5">
                                <input type="text" id="discount_code" name="discount_code" placeholder="کد تخفیف خود را وارد کنید">
                            </div>
                            <button type="button" onclick="addCode()" class="w-40 bg-brown-1020 rounded-lg p-2.5">اعمال
                                کد</button>
                        </form>
                    </div>
                </div>
                <!-- payment way -->
                <div class="">
                    <div class="my-5 text-brown-600 flex items-center gap-x-3">
                        <svg class="w-8 h-8">
                            <use href="#credit-card"></use>
                        </svg>
                        <h1 class="text-xl font-MorabbaBold">روش پرداخت</h1>
                    </div>
                    <div class="flex flex-col space-y-5">
                        <div class="flex items-center justify-between border border-white/20 px-5 py-2">
                            <div class="flex items-center gap-x-5">
                                <input type="radio" name="gateway" value="zarinpal" checked
                                    class=" w-5 h-5 accent-amber-500">
                                <!-- text -->
                                <div>
                                    <h3 class="font-DanaBold text-gray-400">
                                        درگاه پرداخت زرین پال
                                    </h3>

                                    <p class="text-sm text-gray-500 mt-1">
                                        پرداخت امن از طریق درگاه زرین پال
                                    </p>
                                </div>
                            </div>
                            <!-- logo -->
                            <div class="w-14 h-14 rounded-xl bg-amber-50 flex items-center justify-center">
                                <img src="/static/images/zarinpal.png" class="w-9 h-9" alt="ZarinPal">
                            </div>


                        </div>
                        <div class="flex items-center justify-between border border-white/20 px-5 py-2">
                            <div class="flex items-center gap-x-5">
                                <input type="radio" name="gateway" value="zarinpal" checked
                                    class=" w-5 h-5 accent-amber-500">
                                <!-- text -->
                                <div>
                                    <h3 class="font-DanaBold text-gray-400">
                                        پرداخت در محل
                                    </h3>

                                    <p class="text-sm text-gray-500 mt-1">
                                        پرداخت هزینه هنگام تحویل سفارش
                                    </p>
                                </div>
                            </div>
                            <!-- logo -->
                            <div class="w-14 h-14 rounded-xl bg-amber-50 flex items-center justify-center">
                                <img src="/static/images/zarinpal.png" class="w-9 h-9" alt="ZarinPal">
                            </div>


                        </div>
                        <div class="flex items-center justify-between border border-white/20 px-5 py-2">
                            <div class="flex items-center gap-x-5">
                                <input type="radio" name="gateway" value="zarinpal" checked
                                    class=" w-5 h-5 accent-amber-500">
                                <!-- text -->
                                <div>
                                    <h3 class="font-DanaBold text-gray-400">
                                        کیف پول کافی
                                    </h3>

                                    <p class="text-sm text-gray-500 mt-1">
                                        پرداخت امن از طریق درگاه زرین پال
                                    </p>
                                </div>
                            </div>
                            <!-- logo -->
                            <div class="w-14 h-14 rounded-xl bg-amber-50 flex items-center justify-center">
                                <img src="/static/images/zarinpal.png" class="w-9 h-9" alt="ZarinPal">
                            </div>


                        </div>


                    </div>
                </div>

                <!--  -->
                <div class="flex-center gap-x-3 w-full bg-amber-800/60 rounded-xl h-15">
                    <svg class="w-7 h-7">
                        <use href="#lock-closed"></use>
                    </svg>
                    <button class="text-xl ">پرداخت و ثبت سفارش</button>
                </div>
            </div>
        </div>
    </section>



<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script>
        function addCode() {
            console.log($("#discount_code").val());
            $.ajax({
                url: "{%  url 'payment:payment_create' %}",
                method: 'POST',
                data: {
                    discount_code: $("#discount_code").val(),
                    csrfmiddlewaretoken: '{{ csrf_token }}'

                },
                success: function (response) {
                    console.log(response);
                    window.location.reload();
                    console.log($("#discount_code").val());
                    console.log(response);

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log(errorThrown);
                    // handle the error case
                }
            });
        }
    </script>

</body>

</html>